<%= form_tag '/checks', method: :post do %>
<div>
  <%= label_tag :check_name %>
  <%= text_field_tag :check_name %>
</div>
<div>
  <%= label_tag :check_hostname %>
  <%= text_field_tag :check_hostname %>
<div>
  <%= submit_tag "Submit Check" %>
</div>
<% end %>